@keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
@keyframes fade_out {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
    }
}
@keyframes zoom_in {
	0% {
        top: 35%;
        left: 35%;
        width: 28%;
    }
    100% {
        top: 33.5%;
        left: 17.5%;
        width: 65%;
    }
}
@keyframes open_to_right {
	0% {
        left: 0vw;
        z-index: 100;
        opacity: 100%;
    }
    25% {
        z-index: 100;
        opacity: 100%;
    }
    50% {
        z-index: 100;
        opacity: 100%;
    }
    75%{
        left: 15.4vw;
        z-index: 100;
        opacity: 95%;
    }
    100% {
        left: 15.4vw;
        z-index: 0;
        opacity: 0;
    }
}
@keyframes back_to_left {
	0% {
        left: 15.4vw;
        z-index: 0;
        opacity: 0%;
    }
    25% {
        left: 15.4vw;
        z-index: 100;
        opacity: 95%;
    }
    50% {
        z-index: 100;
        opacity: 100%;
    }
    75%{
        z-index: 100;
        opacity: 100%;
    }
    100% {
        left: 0vw;
        z-index: 100;
        opacity: 100%;
    }
}
@keyframes open_to_left {
	0% {
        left: 0vw;
        z-index: 100;
        opacity: 100%;
    }
    25% {
        z-index: 100;
        opacity: 100%;
    }
    50% {
        z-index: 100;
        opacity: 100%;
    }
    75%{
        left: -15.4vw;
        z-index: 100;
        opacity: 95%;
    }
    100% {
        left: -15.4vw;
        z-index: 0;
        opacity: 0;
    }
}
@keyframes back_to_right {
	0% {
        left: -15.4vw;
        z-index: 0;
        opacity: 0%;
    }
    25% {
        left: -15.4vw;
        z-index: 100;
        opacity: 95%;
    }
    50% {
        z-index: 100;
        opacity: 100%;
    }
    75%{
        z-index: 100;
        opacity: 100%;
    }
    100% {
        left: 0vw;
        z-index: 100;
        opacity: 100%;
    }
}
@keyframes fade_in_and_out {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}