@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    font-family: Century Gothic;
}
html {
    scroll-behavior: smooth;
}
::placeholder {
    color: #9d9d9d;
    font-weight: 500;
}
body {
    margin: 0 0;
    padding: 0 0;
    /*overflow-x: hidden;*/
    width:100vw;
}
.background {
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
    margin: 0;
}
img{
	width: auto;
	height: auto;
	/*max-width: 100%;*/
	/*max-height: 100%;	*/
}
.image {
    width: 100%;
}
div {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    user-select: none;
    color: #757575;
}
ul {
    list-style-type: none;
    display: inline-block;
    margin: 0;
}
.logo {
    float: left;
    display: inline-block;
    margin: 0 0 1.1% 5.5%;
    width: 6.8%;
}
.main_nav {
    margin: 1.6% 0 2% 0;
    text-align: center;
}
li {
    display: inline-block;
    margin: 0 0 0 5%;
}
li a:active{
    font-weight:bold;
    color:#000000;
}
.menu {
    width: 60%;
    font-size: 19px;
    padding: 1.1% 0 0 0;
}
/*.clicked {
    font-weight: bold;
    color: #272727;
}*/
.log_btn{
    width: 90%;
}
.log_reg {
    float: right;
    display: inline-block;
    margin: 0.6% 5.7% 0 0;
}
.home {
    position: relative;
    top: 0;
    left: 0;
}
.slogan {
    position: absolute;
    top: 33.5%;
    left: 17.5%;
    width: 65%;
    animation-name: zoom_in;
    animation-duration: 2.5s;
    animation-fill-mode: forwards;
    /*animation-timing-function: ease-in;*/
}
.search_bar {
    position: absolute;
    top: 77%;
    left: 29%;
    width: 71%;
    opacity: 0;
    animation-name: fade_in;
    animation-delay: 2s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
input {
    font-size: 21px;
    padding: 1.1% 0 1.1% 4.3%;
    width: 50%;
    line-height: 24px;
    border: 2px solid #ccc;
}
.loc_icon {
    position: absolute;
    padding: 1.2% 0 0 1.8%;
    width: 1.7%;
}
.find_btn {
    position: absolute;
    padding: 0 0 0 1.3%;
    height: 95%;
}
@keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}
@keyframes zoom_in {
	0% {
        top: 35%;
        left: 35%;
        width: 28%;
    }
    100% {
        top: 33.5%;
        left: 17.5%;
        width: 65%;
    }
}
.about_us_block_top{
	/*width:100vw;*/
	margin-left:18%;
	/*display: inline-block;*/
	/*margin:auto;*/
}
.about_us_block_mid{
	/*width:100vw;*/
	margin-left:18%;
	/*vertical-align:top;
	display: inline-block;*/
}
.about_us_block_bottom{
    position: relative;
	/*width:100vw;*/
	 margin-left:18%;
	/*vertical-align:top;
	display: inline-block;*/
}
.ab_us{
    position: absolute;
    display: inline-block;
    width: 15vw;
    top: 0;
}
p{
	/*background-color:#2C50A1;*/
	font-family:"Noto Sans CJK TC Medium Medium","微軟正黑體";
	width:200px;
	height:200px;
	text-align: justify;
	text-justify:inter-ideograph;
	/*background-repeat:no-repeat;*/
	/*background-size:auto;*/
}
.l2 {
    position: absolute;
    left: 20.9%;
    top: 0%;
    height: 98%;
}
.r1 {
    position: absolute;
    left: 41.7%;
    top: 0%;
}
.r2 {
    position: absolute;
    left: 62.6%;
    top: 0%;
    height: 98%;
}

#row_1{
    display: flex;
    position: relative;
    width: 100%;
    height: 24vh;
    left:5vw;
    top:4vw;
}
#row_2{
    display: flex;
    position: relative;
    width: 100%;
    height: 24vh;
    left:5vw;
    top:16vh;
}
#row_3{
    display: flex;
    position: relative;
    width: 100%;
    height: 24vh;
    left:5vw;
    top:23.9vh;
}
.column{
    display: inline-block;
    position: absolute;
    /*width: 20vw;
    height: 30vh;*/
    /*padding-right: 10vw;*/
}
.intro{
    display: inline-block;
    /*height: auto;
    width: 16vw;
    max-width:100%;
    position: absolute;
    top:7vh;*/
  }
.Name_b{
    font-family:Noto Sans TC;
    font-weight: 800;
    font-size: 20px;
    position: absolute;
    margin: 15% 0 0 9%;
    top: 0;
    color: #2c50a2;
}
.Name_y{
    font-family:Noto Sans TC;
    font-weight: 800;
    font-size: 20px;
    position: absolute;
    margin: 10% 0 0 9%;
    top: 0;
    color: #E8C41C;
}
.intro_b{
    font-family:Noto Sans TC;
    font-weight: 700;
    font-size: 17px;
    position: absolute;
    margin: 0 9%;
    width: 13vw;
    top: 0;
    color: #2c50a2;
}
.intro_y{
    font-family:Noto Sans TC;
    font-weight: 700;
    font-size: 16px;
    position: absolute;
    margin: 0 9%;
    width: 13vw;
    top: 0;
    color: #E8C41C;
}
.text_a,.text_b,.text_c,.text_d,.text_e{
	display: none;
}
.coverpic{
	display: inline-block;
	position: absolute;
	width: 15vw;
}
