* {
    font-family: "Century Gothic";
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
html, body, #map-canvas { 
    height: 100%; 
    margin: 0; 
    padding: 0;
}
::placeholder {
    color:#5072b4;
    font-weight: 500;
}
html {
    scroll-behavior: smooth;
    font-size: 1.1vw;
}
img {
    max-width: 100%;
    height: auto;
}
.container-fluid {
    margin: 0;
    padding: 0;
}
#map-canvas {
    z-index: -2;
}
#onMap_top {
    position: absolute;
    top: 0;
    z-index: 0;
}
#searchdBox {
    position: relative;
    
}
#box_outer {
    position: absolute;
    width: 26vw;
    z-index: -1;
}
#menu_btn {
    position: absolute;
    padding: 0;
    width: 1.15vw;
    top: 50%;
    left: 2.5%;
    border: 0;
}
#keywordBlank{
    border-width: 0.18rem;
    border-color: #2c50a2;
    border-radius: 0.6rem;
    width: 26vw;
    padding: 2% 2% 2% 15%;
    z-index: 0;
}
#search_btn {
    position: absolute;
    padding: 0;
    width: 3vw;
    top: 30%;
    left: 23.35%;
    border: 0;
}
#dropDown_btn {
    position: absolute;
    padding: 0;
    width: 2.1vw;
    top: 110%;
    left: 2.02%;
    border: 0;
}
#dropDown_txt {
    color: white;
    font-size: 0.98rem;
    position: absolute;
    top: 114%;
    left: 5.1%;
    font-weight: 600;
}
#square {
    width: 1.6vw;
    margin-top: 45%;
    margin-left: -66%;
}
#sign_onMap {
    width: 6.5vw;
    margin-top: 4%;
}
#onMap_mid {
    position: absolute;
    top: 40%;
    z-index: 0;
}
#freq {
    margin: 10% 0;
    width: 2vw;
}
#like {
    margin: 10% 0;
    width: 2vw;
}
#group {
    margin: 10% 0;
    width: 2vw;
}
#onMap_bottom {
    position: absolute;
    bottom: 0;
    z-index: 0;
}
#locate{
    width: 1.9vw;
}
#zoom {
    position: relative;
}
#zoom_rec {
    width: 1.9vw;
}
#zoom_in{
    position: absolute;
    top: 15%;
    left: 29%;
    width: 0.75vw;
}
#zoom_out {
    position: absolute;
    top: 70%;
    left: 31%;
    width: 0.75vw;
}
input {
    font-size: 1rem;
    padding: 2% 2% 2% 10%;
    width: 34.5vw;
    line-height: 1.8rem;
    border: 2px solid #ccc;
    outline: none;
}