.float_window{
    width: 25vw;
    height:100vh;
    margin:auto;
}
.left_side{
     display: none;
    background-color: #2C50A1;
     width:80%;
    height: 100%;
    float:left;
}
.status{
    color:#FFFFFF;
     line-height: 8vh;
    margin-left:10%;
    font-family:"century gothic";
}
.cart{
    color:#FFFFFF;
     line-height: 8vh;
    margin-left:10%;
    font-family:"century gothic";
}
.address{
    color:#FFFFFF;
     line-height: 8vh;
    margin-left:10%;
    font-family:"century gothic";
}
.pay_way{
    color:#FFFFFF;
     line-height: 8vh;
    margin-left:10%;
    font-family:"century gothic";
}
.recent_event{
    color:#FFFFFF;
     line-height: 8vh;
    margin-left:10%;
    font-family:"century gothic";
}
.invite{
    color:#FFFFFF;
     line-height: 8vh;
    margin-left:10%;
    font-family:"century gothic";
}
.notification{
    color:#FFFFFF;
     line-height: 8vh;
    margin-left:10%;
    font-family:"century gothic";
}
.partner{
    color:#FFFFFF;
     line-height: 8vh;
    margin-left:10%;
    font-family:"century gothic";
}
.service_center{
    color:#FFFFFF;
     line-height: 8vh;
    margin-left:10%;
    font-family:"century gothic";
}
.log_out{
    color:#FFFFFF;
     line-height: 8vh;
    margin-left:10%;
    margin-bottom:10%;
    font-family:"century gothic";
}
.middle{
    display: inline-block;
    background-color: #2C50C1;
     width:20%;
    height: 100%;
    float: left;
}
.right_side{
    display: inline-block;
    background-color: #2C50A1;
     width:80%;
    height: 100%;
    float: right;
}
.photo{
    background-color: #2C50B1;
     border-radius: 50%;
    border: none;
    margin:auto;
}
.small_camera{
    position: relative;
    left:70%;
    background-color: #2C50B1;
    top:-5%;
}
.arrow-img{
    background-color: #2C50B1;
    border: none;
    transform:rotate(180deg);
    position: relative;
    top:40%;
    left:50%;
}
.user_name{
    height:10%;
    color:#FFFFFF;
    line-height: 8vh;
    margin-left:10%;
    font-family:"century gothic";
}
.title{
    height:10%;
    color:#F39700;
    line-height: 8vh;
    margin-left:10%;
    font-family:"century gothic";
}
.history{
    height:10%;
    color:#F39700;
    line-height: 8vh;
    margin-left:10%;
    font-family:"century gothic";
}
.phone_number{
color:#FFFFFF;
    line-height: 8vh;
    margin-left:10%;
    font-family:"century gothic";
}
.mail{
color:#FFFFFF;
     line-height: 8vh;
    margin-left:10%;
    font-family:"century gothic";
}
.score_count{
    color:#FFFFFF;
    line-height: 8vh;
    margin-left:10%;
    font-family:"century gothic";
}
.purchase_count{
    color:#FFFFFF;
    line-height: 8vh;
    margin-left:10%;
    font-family:"century gothic";
}
.comment_count{
    color:#FFFFFF;
    line-height: 8vh;
    margin-left:10%;
    font-family:"century gothic";
}
.follow_count{
    color:#FFFFFF;
    line-height: 8vh;
    margin-left:10%;
    font-family:"century gothic";
}
.launch_count{
    color:#FFFFFF;
    line-height: 8vh;
    margin-left:10%;
    font-family:"century gothic";
}
.edit{
    line-height: 8vh;
    color:#F39700;
    margin-left:10%;
     margin-bottom:10%;
    font-family:"century gothic";
}
