.float_window{
    width: 25vw;
    height:100vh;
    margin:auto;
}
.middle{
    display: inline-block;
    background-color: #2C50C1;
     width:20%;
    height: 100%;
    float: left;
}
.right_side{
    display: inline-block;
    background-color: #2C50A1;
     width:80%;
    height: 100%;
    float: right;
}
.photo{
    background-color: #2C50B1;
     border-radius: 50%;
    border: none;
    margin:auto;
}
.arrow-img{
    background-color: #2C50B1;
    /*margin-top:40vh;*/
    border: none;
    transform:rotate(180deg);
    margin: 0px auto;
}
.user_name{
    height:10%;
    color:#FFFFFF;
    line-height: 8vh;
    margin-left:10%;
}
.title{
    height:10%;
    color:#F39700;
    line-height: 8vh;
    margin-left:10%;
}
.history{
    height:10%;
    color:#F39700;
    line-height: 8vh;
    margin-left:10%;
}
.info{
color:#FFFFFF;
    line-height: 8vh;
    margin-left:10%;
}
.sub_history{
color:#FFFFFF;
     line-height: 8vh;
    margin-left:10%;
}
.edit{
    line-height: 8vh;
    color:#F39700;
    margin-left:10%;
}
