#logo{
  margin-top:10vh;
}
.object_1{
  border-style: solid;
  border-color: #2C50A1;
  border-radius: 15px;
  border-width:5px;
  width:50%;
}

.item1 {
  grid-area: myArea;
}

.grid-container {
  display: grid;
  grid-template-areas: 'myArea myArea . . .' 'myArea myArea . . .';
  grid-gap: 0px;
  width:50%;
  border-style: solid;
  border-color: #2C50A1;
  border-radius: 15px;
  border-width:5px;
}

.grid-container > div {
  text-align: left;
  font-size: 20px;
}
