#part3 {
    position: relative;

}
.dialog {
    position: absolute;
    height: 8.6vh;
}
#d1 {
    top: 12.5vh;
    left: 15vw;
    opacity: 0;
}
#d2 {
    top: 22vh;
    right: 3.5vw;
    opacity: 0;
}
#d3 {
    top: 31vh;
    left: 16vw;
    opacity: 0;
}
#d4 {
    top: 12.5vh;
    right: 21vw;
    opacity: 0;
}
#d5 {
    top: 22vh;
    left: 5vw;
    opacity: 0;
}
#d6 {
    top: 31vh;
    right: 8.5vw;
    opacity: 0;
}
#d1_show {
    top: 12.5vh;
    left: 15vw;
    opacity: 0;
    animation-name: fade_in_and_out;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}
#d2_show {
    top: 22vh;
    right: 3.5vw;
    opacity: 0;
    animation-name: fade_in_and_out;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    /*animation-delay: 2s;*/
}
#d3_show {
    top: 31vh;
    left: 16vw;
    opacity: 0;
    animation-name: fade_in_and_out;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    /*animation-delay: 4s;*/
}
#d4_show {
    top: 12.5vh;
    right: 21vw;
    opacity: 0;
    animation-name: fade_in_and_out;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    /*animation-delay: 6s;*/
}
#d5_show {
    top: 22vh;
    left: 5vw;
    opacity: 0;
    animation-name: fade_in_and_out;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    /*animation-delay: 8s;*/
}
#d6_show {
    top: 31vh;
    right: 8.5vw;
    opacity: 0;
    animation-name: fade_in_and_out;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    /*animation-delay: 10s;*/
}